.resume-side {
    flex: 1 1 780px; 
    background-color: white;
    min-width: 0; /* Prevent overflow */
    max-width: 780px;
    height: 70rem; 
    font-family: sans-serif;
    min-width: 37rem;
}

.resume-side.left {
  display: grid;
  grid-template-columns: 1fr 1.3fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "header content"; 
}

.resume-side.right {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "content header"; 
}

.resume-side.right .resume-content {
  grid-area: content;
}

@media (max-width: 1100px) {
  .resume-side {
    max-width: 100%;
    width: 100%;
  }
}

/* HEADER */ 

.resume-header.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: #0e374e;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
}

.resume-header.left {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-header.right {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-name.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.header-name.left{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  max-width: 5rem;
}

.header-name.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  max-width: 5rem;
}

.header-info.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: -1.7rem;
  flex-wrap: wrap;
}

.header-info.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -1.2rem;
  flex-wrap: wrap;
}

.header-info.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -1.2rem;
  flex-wrap: wrap;
}

.mail-info, .phone-info, .location-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 17px;
}

.envelope-icon, .phone-icon, .location-icon {
  width: 16px;
  margin: 0;
  padding: 0;
}

/* EDUCATION AND EXPERIENCE */

.education-container, .experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-container {
  margin-top: 1.5rem;
}

.resume-education-header, .resume-experience-header {
  background-color: rgba(14, 55, 78, 0.07);
  color: #0e374e; 
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 0.3rem;
}

.education-list-resume, .experience-list-resume {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0; 
  margin-top: -1rem;
}

.education-entry, .experience-entry {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.school, .company {
  font-weight: bold;
}

.loc, .degree, .position, .position-description {
  margin-top: -0.5rem;
}

.date-location-box {
  min-width: 8.5rem;
  max-width: 8rem;
}



