@font-face {
    font-family: 'noto-regular';
    src: url('/src/assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'noto-bold';
    src: url('/src/assets/fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'noto-semibold';
    src: url('/src/assets/fonts/NotoSans-SemiBold.ttf');
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-top-buttons, .personal-details-container, .education-details-container, .experience-details-container {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.131);
}

h1 {
    padding-left: 1rem;
    font-family: 'noto-bold';
}

input, textarea {
    font-family: 'noto-regular';
    outline: none; /* Remove default outline */
    border: none; /* Remove any default border */
    box-shadow: none; /* Remove any default box-shadow */
    background: none; /* Remove any default background */
    padding-left: 10px;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.267);
    border: 2px solid transparent;
    transition: border 0.25s, box-shadow 0.25s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Initial box-shadow */
}

input:hover, input:focus, textarea:hover, textarea:focus {
    border: 2px solid #007BFF; /* Optional: Change border color on focus/hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Define the box-shadow on focus/hover */
}

textarea {
    max-width: 100%; /* Prevents horizontal resizing */
    resize: vertical; /* Allow only vertical resizing */
    min-height: 2rem;
    align-content: center;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TOP BUTTONS*/

.form-top-buttons {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

#clear-btn, #example-btn {
    font-family: 'noto-bold';
    width: 50%; 
    margin: 0; 
    padding: 0; 
    border: none;
    background: none;
    font-size: 0.9rem;
}

#clear-btn {
    gap: 0.4rem;
}

#example-btn {
    background-color: rgba(211, 211, 211, 0.534);
    border-radius: 5px;
}

#clear-btn:hover, #example-btn:hover {
    transform: scale(1.02);
}

.trashcan {
    width: 20px;
    fill: red;
    margin-bottom: 3px;
}

/* PERSONAL DETAILS FORM */

.personal-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-details-input {
    font-family: 'noto-semibold';
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: -1rem;
}

.details-element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 

/* EDUCATION AND EXPERIENCE CONTAINERS */

.education-top, .experience-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.education-header, .experience-header {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.education-icon, .experience-icon {
    width: 25px;
}

.arrow-button {
    padding: 0;
    width: 20px;
    border: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.arrow-button:hover {
    cursor: pointer;
}

.arrow-icon {
    transition: transform 0.25s;
}

.arrow-icon.expanded {
    transform: rotate(180deg);
}

.education-list, .experience-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.add-education-btn, .add-experience-btn {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'noto-semibold';
    padding: 0.4rem;
    width: 9rem;
    font-size: 1rem;
    border: 4px solid rgba(211, 211, 211, 0.42);
    border-radius: 25px;
    background-color: white;
}

.add-education-btn:hover, .add-experience-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.plus-icon {
    width: 16px;
}

.add-experience-btn.hidden, .add-education-btn.hidden {
    display: none;
}

/* EDUCATION AND EXPERIENCE FORMS */

.experience-form, .education-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    margin-bottom: -1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dates-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dates-group > * {
    width: 48%;
}

.label-text {
    font-family: 'noto-semibold';
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    height: 2.1rem;
}

.delete-btn {
    width: 6rem;
    outline: 1px solid grey;
    border: none;
    border-radius: 4px;
    color: grey;
    background-color: initial;
    font-family: 'noto-bold';
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.trashcan-form {
    width: 18px;
    fill: grey;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.cancel-btn {
    font-size: 0.85rem;
    font-family: 'noto-bold';
    color: grey;
    outline: 1px solid grey;
    border: none;
    border-radius: 4px;
    background-color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
}

.save-btn {
    width: 3.7rem;
    font-size: 0.85rem;
    font-family: 'noto-bold';
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #187ff5;
    color: white;
}

.experience-form.hidden, .education-form.hidden {
    display: none;
}

