#root {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  padding: 1.5rem 10vw; 
}

@media (max-width: 1600px) {
  #root {
    padding: 1.5rem; /* Adjust padding for medium screens */
  }
}

@media (max-width: 1100px) {
  #root {
    padding: 1.5rem; /* Adjust padding for medium screens */
    flex-wrap: wrap;
  }
}


